Parar es cuando está parada y con la línea del cuello paralelo o en diagonal hacia arriba del piso. Cuatro patas en el piso o tres y una apoyada en la otra y no se está moviendo

Comer abajo es cuando está comiendo con la línea del cuello en diagonal hacia abajo y puede ser que haga uno o dos pasos y vuelva a comer

Comer arriba tiene la línea del cuello paralelo al piso o en diagonal hacia arriba

Comer abajo siempre tiene la línea del cuello en diagonal hacia abajo

In [1]:
import pandas as pd
import os
from pyprojroot import here

In [2]:
data_path = here("data/manso")
file_paths = [os.path.join(data_path, file_path) for file_path in os.listdir(data_path)]
file_paths

['/home/franfram/AAR-DL/data/manso/complete_ID2.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID25.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID46.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID18.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID1.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID4.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID32.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID3.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID10.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID36.csv',
 '/home/franfram/AAR-DL/data/manso/complete_ID5.csv']

In [3]:
# data = [pd.read_csv(file) for file in file_paths]
data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}

/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}
/tmp/ipykernel_1818/3619197273.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = {os.path.basename(file): pd.read_csv(file) for file in file_paths}

In [5]:
keys = list(data.keys())

In [8]:
behavs = []
[behavs.append(list(data[key]['Behaviour'].unique())) for key in keys]

[None, None, None, None, None, None, None, None, None, None, None]

In [9]:
unique_behaviours = set([item for items in behavs for item in items if type(item) == str])
unique_behaviours

{'Acicalar',
 'Caminar',
 'Comer abajo',
 'Comer arriba',
 'Correr',
 'Echar',
 'Orinar',
 'Parar',
 'Sacudir',
 'Saltar',
 'Tomar',
 'Trotar'}

In [ ]:
def behaviour_grouping(behaviour):
    if behaviour in ['Comer abajo', 'Comer arriba']:
        return 'eating'
    if behaviour in ['Caminar', 'Correr']:
        return 'walk'
    if behaviour

In [6]:
data[keys[0]]

,Unnamed: 0,X,ID,Behaviour,SDate_time,EDate_time,Duration,Total_Event_no,Event_no,Acc_x,...,Hours,Minutes,Seconds,VeDBA,VeDBA_smoothed,Pitch_angle,Pitch_smoothed_angle,Roll_angle,Roll_smoothed_angle,Time_complete
0,1,NaN,NaN,NaN,2022-03-02 09:44:05,2022-03-02 09:44:05,NaN,6249827,249995,-0.285645,...,9,44,5,0.116455,0.084473,18.286,18.596,6.998,6.548,9:44:5.658
1,2,NaN,NaN,NaN,2022-03-02 09:44:05,2022-03-02 09:44:05,NaN,6249828,249996,-0.297852,...,9,44,5,0.100098,0.091065,17.332,18.578,5.088,5.778,9:44:5.682
2,3,NaN,NaN,NaN,2022-03-02 09:44:05,2022-03-02 09:44:05,NaN,6249829,249997,-0.297852,...,9,44,5,0.102539,0.096924,18.024,18.656,4.430,4.998,9:44:5.707
3,4,NaN,NaN,NaN,2022-03-02 09:44:05,2022-03-02 09:44:05,NaN,6249830,249998,-0.322266,...,9,44,5,0.105225,0.103760,18.978,18.868,2.946,3.984,9:44:5.731
4,5,NaN,NaN,NaN,2022-03-02 09:44:05,2022-03-02 09:44:05,NaN,6249831,249999,-0.322266,...,9,44,5,0.101563,0.098389,19.928,19.300,2.202,3.256,9:44:5.756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499925,2499926,NaN,NaN,NaN,2022-03-03 17:02:38,2022-03-03 17:02:38,NaN,10749696,749976,0.000000,...,17,2,38,0.021240,0.018555,-0.286,-0.438,1.286,1.424,17:2:38.975
2499926,2499927,NaN,NaN,NaN,2022-03-03 17:02:39,2022-03-03 17:02:39,NaN,10749697,749977,0.000000,...,17,2,39,0.008301,0.016602,0.000,-0.380,1.294,1.704,17:2:39
2499927,2499928,NaN,NaN,NaN,2022-03-03 17:02:39,2022-03-03 17:02:39,NaN,10749698,749978,0.009766,...,17,2,39,0.010254,0.012695,-0.288,-0.382,2.028,1.712,17:2:39.025
2499928,2499929,NaN,NaN,NaN,2022-03-03 17:02:39,2022-03-03 17:02:39,NaN,10749699,749979,0.009766,...,17,2,39,0.011719,0.014648,-0.582,-0.288,1.670,1.542,17:2:39.05
2499929,2499930,NaN,NaN,NaN,2022-03-03 17:02:39,2022-03-03 17:02:39,NaN,10749700,749980,0.009766,...,17,2,39,0.009277,0.014404,-0.582,-0.194,1.670,1.484,17:2:39.075

In [10]:
data[keys[0]]['Behaviour'].value_counts()

Behaviour
Comer abajo     27397
Caminar         20396
Parar           14420
Trotar           1716
Correr           1355
Comer arriba     1198
Name: count, dtype: int64